FwordCTF[[:space:]]2020/Forensics/Memory/foren.7z filter=lfs diff=lfs merge=lfs -text
DarkCTF/Forensics/Wolfie's[[:space:]]Contact/wolfie_evidence.rar filter=lfs diff=lfs merge=lfs -text
DarkCTF/Forensics/AW/Spectre.mp4 filter=lfs diff=lfs merge=lfs -text
